/* -------------------------------------------------------------------------------------------- */
/* Navbar */

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 30px;
}
.menu-wrapper {
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
}

.burger-wrapper, .side-wrapper {
    display: none;
}

.nav-wrapper{
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);

}

/* -------------------------------------------------------------------------------------------- */
/* MainLanding */

.mainlanding-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
    background: rgb(225, 225, 225);
    min-height: 80vh;
    max-height: 100vh;
}

.boxes-container {
    flex-basis: 600px;
    min-height: 250px;
    max-height: 400px;
    background: white;

} 

.boxes-container.two {
    flex-basis: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------- */
.side-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.burger-slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .burger-slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
  }
  
  .burger-slide-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .burger-slide-exit-active {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 300ms, transform 300ms;
  }
  
/* -------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 750px) {
    .menu-wrapper {
        display: none;
    }

    .burger-wrapper{
        display: flex;
        align-items: center;
    }

    .side-wrapper {
        display: block;
        background: white;
        height: 100%;
        width: 40%;
        padding: 20px;
    }
}